.sidebar {
  width: 250px;
  height: 100vh;
  background-color: var(--clr-bg-black);
  position: fixed;
  left: 0;
  top: 0;
  transition: transform 0.3s ease-in-out;

  @media (max-width: 768px) {
    transform: translateX(-100%);
  }
}

.sidebarOpen {
  transform: translateX(0) !important;
}

.dashboardContent {
  margin-left: 250px;
  flex-direction: column;
  width: 100%;
  transition: margin-left 0.3s ease-in-out;

  @media (max-width: 768px) {
    width: 100%;
    margin-left: 0px;
  }
}

.content {
  flex-grow: 1;
  padding: 20px;
}
